.navitems {
    a {
        font-size: 16px;
        text-transform: capitalize;
        padding: 3px 8px;
        color: #000000;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            color: #4646fc !important;
            transition: all 0.25s;
            border-radius: 3px;
        }
        &.active {
            color: #4646fc !important;
            transition: all 0.25s;
        }

        &:last-child {
            background-color: #019dff !important;
            color: #ffffff !important;
            transition: all 0.25s;
            border-radius: 3px;
             padding: 10px 8px !important;

            &:hover {
                opacity: .7;
            }
        }
        &.active {
            color: #006bbc;
        }
    }
}

#header {
    position: sticky;
    top: 0;
    z-index: 999;
}